/* COLORS

PRIMARY: #087f5b
TEXT COLOR: #212529
SECONDARY TEXT COLOR: #868e96 */

@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
}

/* HEADER/HERO */

/*HEADER*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h3 {
  color: #087f5b;
  font-size: 36px;
  line-height: 0.8;
}

.logo a {
  text-decoration: none;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

header li a {
  text-decoration: none;
  color: #212529;
  transition: 0.5s;
  font-size: 24px;
}

header li a:hover,
header li a:active {
  color: #087f5b;
}

header li {
  padding-bottom: 12px;
}

.header-btn {
  background-color: transparent;
  padding: 8px 16px;
  font-weight: 500;
  border: 1px solid #212529;
  transition: 0.2s;
}

.header-btn:active,
.header-btn:hover,
.header-btn a:hover {
  background-color: #087f5b;
  color: #fff;
}

/* END OF HEADER */

/* HERO */

#hero {
  margin-top: 48px;
  height: 55vh;
  background-image: linear-gradient(
      256.48deg,
      rgba(8, 127, 91, 0) -19.92%,
      #087f5b 100%
    ),
    url(images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55vh;
  color: #fff;
}

.hero-container {
  width: 85%;
  margin: 0 auto;
}

.hero-text h1 {
  margin: 0;
  line-height: 1.2;
  font-size: 36px;
}

.hero-text h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

/* END OF HERO */
.about-us {
  margin-top: 48px;
}

.about-us-text {
  width: 85%;
  margin: 0 auto;
  height: 50vh;
}

.about-us-img {
  display: none;
}

.modern-text,
.investments-text {
  margin: 0;
  font-size: 36px;
}

.modern-text {
  font-weight: 700;
}

.investments-text {
  color: #087f5b;
}

.about-us-p {
  color: #868e96;
  line-height: 1.7;
}

.about-us button {
  align-self: flex-start;
  background-color: #087f5b;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.5s;
}

.about-us a {
  color: #fff;
  text-decoration: none;
}

.about-us button:hover {
  background-color: #20c997;
}

/* END OF ABOUT-US */

/* SERVICES */

.services {
  margin-top: 48px;
  color: #fff;
  height: 115vh;
}

.services-container {
  background-color: #043828;
}

.content {
  padding-top: 48px;
  width: 85%;
  margin: 0 auto;
}

.services-img img,
.services-img-2 img {
  display: none;
}

.content button {
  background-color: #087f5b;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.5s;
}

.content a {
  color: #fff;
  text-decoration: none;
}

.content button:hover {
  background-color: #20c997;
}

.content h5 {
  font-size: 36px;
  margin: 0;
  font-weight: 400;
}

.content p {
  color: #868e96;
  line-height: 1.7;
}

.content-first-word {
  font-weight: 700;
}

/* END OF SERVICES */

/* COMPANY TEAM */

.company-team-section {
  margin-top: 48px;
  margin-bottom: 48px;
}

.company-team {
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

.company-team h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 48px;
}

.company-team-text {
  color: #087f5b;
}

.portrait-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.box {
  box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.box img {
  width: 260px;
  height: 380px;
}

.text-box {
  padding: 0 12px;
}

/* END OF COMPANY TEAM */
